<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark">
    <div>
        <a class="navbar-brand" routerLink="/">
            <img id="imgLogo" src="/assets/images/logo.jpg" alt="Logo">
        </a>
        <div class="fakebar"></div>
    </div>


    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item d-none">
                <button class="btn btn-dark btn-with-border">
                    <i class="fas fa-play"></i> Play
                </button>
            </li>
            <!-- switch button language IT/ENG: italiano/inglese 
                ngx-translate MODULE
                VEDI url:('https://www.youtube.com/watch?v=ikIEA1cCt_w')-->
            <li class="nav-item dropdown d-none"><!-- dropdown button menu is on : display hidden -->
                <i class="fa-regular fa-square-ellipsis"></i>
                <a class="btn btn-dark btn-with-border dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Language
                   <i class="fas fa-ellipsis-h"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                    <!-- Contenuto del menu dropdown -->
                    <a class="dropdown-item color " href="#">IT</a>
                    <a class="dropdown-item" href="#">ENG</a>
                </div>
            </li>
            <li class="nav-item ml-auto">
                <button data-toggle="tab" routerLink="/login" class="btn btn-dark btn-with-border">
                    Accedi
                </button>
            </li>
            <li class="nav-item dropdown d-none"><!-- dropdown button menu is on : display hidden -->
                <i class="fa-regular fa-square-ellipsis"></i>
                <a class="btn btn-dark btn-with-border dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                   <i class="fas fa-ellipsis-h"></i>
                     <!-- Icona utente -->
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                    <!-- Contenuto del menu dropdown -->
                    <a class="dropdown-item color " href="#">Profilo</a>
                    <a class="dropdown-item" href="#">Impostazioni</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Esci</a>
                </div>
            </li>
        </ul>
    </div>
</nav>