<div class="container-fluid d-flex align-items-center flex-column text-center gridlist">
  
<h1 class="gridTitle" >Scopri Guess A Movie.</h1>

    <div class=" d-flex align-items-center flex-column text-center">
      <img class="imgGridlist" src="/assets/images/logo.jpg" alt="">
    </div>


    <div class="row">
      <div class="col-sm d-flex align-items-center flex-column text-center">
        <div class="column-header">
          <img class="imgGrid"  src="/assets/images/cinemaFilm1.png" alt="Descrizione immagine">
        </div>
        <h2>Guarda movies in streaming.</h2>
        <h5>50+ titoli dei migliori movies dagli anni '80 ad oggi. I migliori titoli solo per te, in alta qualità video. Per te tanti generi e registi selezionati.'
        </h5>
      </div>
      <div class="col-sm d-flex align-items-center flex-column text-center">
        <div class="column-header">
          <img class="imgGrid"  src="/assets/images/multiple-devices.png" alt="Descrizione immagine">
        </div>
        <h2>Platform multidevice+</h2>
        <h5>Scarica l' app Guess A Movie su tutti i device da Google PlayStore per qualsiasi device o accedi alla versione desktop da PC.
        </h5>          </div>
      <div class="col-sm d-flex align-items-center flex-column text-center">
        <div class="column-header">
          <img class="imgGrid" src="/assets/images/multiple-users-silhouette.png" alt="Descrizione immagine">
        </div>
        <h2>Condividi con i tuoi amici.</h2>
        <h5>Gioca e il tuo punteggio sarà pubblico nella highlights list dei migliori giocatori. Condividi i tuoi punteggi sui social e sfida i tuoi amici.</h5>          
    </div>
  </div>
</div>
  