<div class="container">
    <section class="d-flex">
        <div class="row">
            <div class="col-12 col-md-6">


                <div class="card">
                    <div class="row">
                    <hr class="hr" />
                        <div class="col">
                            <div class="img-container">
                                <img class="blueCinema" src="/assets/images/cinema_1020x680.jpg" alt="blueCinema">
                            </div>
                        </div>
                        <div class="col d-flex align-items-center flex-column justify-content-center text-center">
                            <h1 id="gameBio" class="h1">Gioca a Guess A Movie !</h1>
                            <h2>Scopri fantastici film partecipando al quiz. Indovina uno tra il titolo, anno di uscita, genere e regista e sblocca il ban per vedere il film.</h2>
                        </div>
                    </div>
                </div>


                <div class="card">
                    <div class="row">
                    <hr class="hr" />
                            <div class="col d-flex align-items-center flex-column justify-content-center text-center">
                                <h1 class="h1">Guarda tutti i film che indovini.</h1>
                                <h2>In lista più di 50 movies ! Dai cult degli anni '80 ai moderni 3D animation di ultima generazione.</h2>
                            </div>
                        <div class="col">
                            <div class="img-container">
                                <video  loop autoplay>
                                    <source src="/assets/images/streaming.mp4" type="video/mp4">
                                    Il tuo browser non supporta il tag video.
                                </video>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="row">
                    <hr class="hr" />
                        <div class="col">
                            <div class="img-container">
                                <video  loop autoplay>
                                    <source src="/assets/images/social.mp4" type="video/mp4">
                                    Il tuo browser non supporta il tag video.
                                </video>
                            </div>
                        </div>
                        <div class="col d-flex align-items-center flex-column justify-content-center">
                            <h1 class="h1">Condividi il tuo punteggio e sfida i tuoi amici !</h1>
                            <h2>Ogni settimana la classifica aggiornata dei giocatori più forti e in palio fantastici premi e bonus streaming per te.</h2>
                        </div>
                    <hr class="hr" />
                    </div>
                </div>

                <div class="card">
                    <div class="row">
                        <div class="col">
                            <div class="col d-flex align-items-center flex-column justify-content-center text-center">
                                <h1 class="h1">Lascia una recensione.</h1>
                                <h2>Se vuoi potrai lasciare una recensione dei film, che riuscirai a sbloccare giocando a Guess A Movie.</h2>
                            </div>
                        </div>
                        <div class="col">
                            <div class="img-container">
                                <img class="blueCinema" src="/assets/images/recensioneImg.jpg" alt="blueCinema">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
