<!-- @AlessioS: 
tab-card che viene iniettata in welcome.component per visualizzare i titles
di benvenuto e invito a registrarsi  -->
    <div class="titleBox index text-center mb-4">
        <h1 class="display-4">Gioca e indovina nuovi Originals, film di successo,
            e molto altro ancora</h1>
        <h3>Il tutto senza costi aggiuntivi. Disdici quando vuoi.*</h3>
        <p class="lead">Watch your favorite movies and TV shows on any device. Sign up now for a free trial.</p>
        <button data-toggle="tab" routerLink="/register" class="btn btn-dark btn-with-border">
            Registrati
        </button>
    </div>
